* {
    font-family: sans-serif;
    background-color: #ddd;
}
   

h1 {
    text-align: center;
    color: blue;
}

h2 {
    text-align: center;
    color:#0f7081;
}

.table, .attributes {
    display: flex;
    justify-content: center;
}

table {
    border: 3px solid black;
}

thead th {
    background: #88CCF1;
    color: #000;
    text-transform: uppercase;
    text-align: center;
  }

  th, td {
    padding: 5px;
    text-align: left;;
    border: 1px solid black;
  }


.attributes {
    margin-bottom: 150px;
}